p {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
}

.images {

display: flex;
flex-wrap: wrap;
margin: 20px auto; 

}

img {
display: block;
max-width: 30%;
margin: 1rem;

}

a {

text-decoration: none; 
display: block;
}

a:visited {

    text-decoration: none;
}

.menu {

    display: flex;
    flex-direction: row; 
    align-content: center;

}

.strikeThrough {

    text-decoration-style: wavy;
}





