You like <%= puppy %>

<% if (puppy == "master chief"){ %>
<p>Great Choice, Chief is the best</p>
<% } else { %>

    <p><%= puppy %> is cute, but Master Chief is the greatest in the world</p>

<% } %> 

